<div class="snippets">
    <h2>Update snippet</h2>
    <form method="post" class ="snippetForm" action="/updated/{{snippets.id}}">
        <label>Title:</label>
        <input type="text" name="title" />
        <br>
        <textarea rows = "5" name="snippet" placeholder="snippet"></textarea>
        <br>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>