<h1>Welcome to Snippets</h1>
<div class="login">
    <h3>Login</h3>
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="Username: " />
        <br>
        <input type="password" name="password" placeholder="Password: " />
        <br>
        <button class="btn btn-default">Login</button>
        <a href="/register/" class="btn btn-info" role="button">Register</a>
</div>