<h1>Welcome to Snippets</h1>
<div class="register">
    <h3>Register</h3>
    <form method="post" action="/register">
        <input type="text" name="username" placeholder="Username: " />
        <br>
        <input type="password" name="password" placeholder="Password: " />
        <br>
        <button class="btn btn-default">Register</button>
        <a href="/login/" class="btn btn-info" role="button">Login</a>
</div>