<!DOCTYPE html>
<html lang="en">
 <link rel="stylesheet" href="/stylesheets/stylesheet.css">



{{>header}}

<body>
    {{{body}}}
</body>

{{>footer}}
<script rel = "preload" src="/socket.io/socket.io.js"></script>
<script rel = "preload" src="/javascript/client.js"></script>
</html>
